/e-commerce-backend/.venv/
/e-commerce-backend/.env
/e-commerce-backend/.vscode/
.vscode/
/e-commerce-backend/__pycache__/
/e-commerce-backend/db.sqlite3


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/e-commerce-frontend/node_modules/
/e-commerce-frontend/.pnp/
/e-commerce-frontend/.pnp.js

# testing
/e-commerce-frontend/coverage/

# production
/e-commerce-frontend/build/

# misc
/e-commerce-frontend/.DS_Store
/e-commerce-frontend/.env.local
/e-commerce-frontend/.env.development.local
/e-commerce-frontend/.env.test.local
/e-commerce-frontend/.env.production.local

/e-commerce-frontend/npm-debug.log*
/e-commerce-frontend/yarn-debug.log*
/e-commerce-frontend/yarn-error.log*